#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

#contact-container>div {
    padding: 0px;
}

#message-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

#message-container>h1 {
    font-size: 2rem;
    text-align: center;
}

#message-container>h1>span {
    color: var(--main-theme-color);
    font-weight: bold;
}

#card-deck {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.card {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 #ddd;
}

.card+.card {
    margin-top: 1em;
}

.card-title {
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5em 1.5em;
    color: var(--main-theme-color-darker);
}

.card-body {
    padding: 1.5em;
}

#contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
}

#contact-form {
    border: 3px solid var(--main-theme-color);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
}

.form-group+.form-group {
    margin-top: 30px;
}

.form-group>label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.form-control {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    width: 100%;
}

textarea.form-control {
    resize: vertical;
}

.form-control:focus-visible {
    outline: none;
}

#contact-form-submit {
    margin-top: 30px;
    display: block;
    width: 100%;
}

@media (min-width: 576px) {
    #contact-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #contact-container>div {
        padding: 15px;
    }

    #message-container {
        justify-content: center;
    }

    #message-container>h1 {
        font-size: 4rem;
        text-align: left;
    }

    #card-deck {
        flex-direction: row;
        align-items: stretch;
    }

    .card {
        width: 25%;
    }

    .card+.card {
        margin-top: 0;
    }

    #contact-form-container {
        justify-content: center;
        margin-bottom: 0;
        width: 50%;
    }
}