:root {
    --main-theme-color: hsl(219deg 77% 68%);
    --main-theme-color-darker: hsl(219deg 77% 63%);
    --main-theme-hover-color: hsl(219, 77%, 58%);
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    color: #333;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.btn-primary {
    background-color: var(--main-theme-color);
    border: 2px solid var(--main-theme-color-darker);
    color: white;
}

.btn-primary:hover {
    background-color: var(--main-theme-hover-color);
}

.btn-compact {
    padding: 2px 10px;
}

main {
    margin-inline: 50px;
    margin-bottom: 45px;
    width: calc(100% - 100px);
}

main>section {
    min-height: calc(100vh - 105px);
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-block: 10px;
    background-color: white;
    width: calc(100vw - 16px);
    margin-inline: -57px;
}

.nav-endcap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    padding-block: 6px;
    width: 100%;
}

#link-container>.nav-link {
    font-size: large;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 20px;
    border-radius: 5px;
}

.nav-link.active {
    background-color: #f3f3f3;
}

#link-container .nav-link:hover {
    background-color: #f3f3f3;
}

#link-container .nav-link.active:hover {
    background-color: #e0e0e0;
}

#header-title {
    font-size: x-large;
    font-weight: bold;
    color: var(--main-theme-color);
}

#nav-contact-container {
    padding-inline: 20px;
}

#nav-contact {
    display: inline-block;
    margin-block: auto;
    color: white;
    background-color: var(--main-theme-color);
}

#nav-contact:hover {
    background-color: var(--main-theme-hover-color);
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-container>div+div {
    margin-top: 25px;
}

#hero-name {
    font-size: 2.5rem;
    margin-bottom: 0;
}

#hero-job-title {
    font-size: 2rem;
    margin-top: 12px;
    color: var(--main-theme-color);
}

#learn-more-btn {
    text-decoration: none;
    background-color: var(--main-theme-color-darker);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: x-large;
}

#learn-more-btn:hover {
    background-color: var(--main-theme-hover-color);
}

#learn-more-arrow {
    margin-left: 20px;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    main {
        margin-bottom: 0;
    }

    main>section {
        min-height: calc(100vh - 83px);
    }

    .nav-endcap {
        width: 20vw;
    }

    #header-title {
        font-size: xx-large;
    }

    #link-container {
        position: relative;
        justify-content: space-between;
        margin-block: auto;
        width: 35vw;
    }

    #link-container>.nav-link {
        font-size: initial;
    }

    #hero-section {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: initial;
    }

    #text-container {
        margin-bottom: 35vh;
        text-align: left;
        align-items: start;
    }

    #hero-job-title {
        font-size: 2rem;
    }

    #img-container {
        align-items: center;
        margin-bottom: 20vh;
    }

    #hero-section>div {
        width: 50%;
    }
}