h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1>span {
    color: var(--main-theme-color);
    font-weight: bold;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
}

p+p {
    margin-top: 2em;
}

@media (min-width: 576px) {
    h1 {
        margin-bottom: 3em;
    }

    #about-container>div {
        width: 50%;
    }

    p {
        font-size: 1.5rem;
    }
}