h1 {
    text-align: center;
    margin-bottom: 2em;
}

h1>span {
    color: var(--main-theme-color);
    font-weight: bold;
}

#about-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
}

p+p {
    margin-top: 2em;
}

#about-img-container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        'pancakes cashier'
        'pancakes goat';
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 50% 50%; */
}

.stacked-img {
    display: none;
    image-resolution: 4x3;
}

#pancakes {
    grid-area: pancakes;
}

#cashier {
    grid-area: cashier;
}

#goat {
    grid-area: goat;
}

#about-img-container>img {
    border-radius: 5px;
}

@media (min-width: 576px) {
    h1 {
        margin-bottom: 3em;
    }

    #about-container {
        flex-direction: row;
    }

    #about-container>div {
        width: 50%;
    }

    p {
        text-align: left;
        font-size: 1.5rem;
    }

    #about-img-container {
        margin-left: 3em;
    }

    .stacked-img {
        display: block;
    }
}